h1 {
    color:wheat;
    text-align: center;
    font-size: 80px;
    border-color: #f2542d;
    border-style: dotted;
    margin:0%;
    margin-left: 200px;
    margin-right: 200px;
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
    text-align: right;
    padding-right: 50px;
    color: teal;
}

#one{
    border-color: bisque;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    border-left-width: 350px;
    border-right-width: 350px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    transition: border-left-width 1s 10ms, border-right-width 1s 10ms;
}

#two{
    border-color: teal;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    border-left-width: 350px;
    border-right-width: 350px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    transition: border-left-width 1s 10ms, border-right-width 1s 10ms;
}

#three{
    border-color: #f28482;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    border-left-width: 350px;
    border-right-width: 350px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    transition: border-left-width 1s 10ms, border-right-width 1s 10ms;
}

#four{
    border-color: #7209b7;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    border-left-width: 350px;
    border-right-width: 350px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    transition: border-left-width 1s 10ms, border-right-width 1s 10ms;
}

#one:hover{
    background-color: rgba(211, 138, 28, 0.479);
    border-left-width: 20px;
    border-right-width: 20px;
    color: red;
    font-size: 1.2em;
}

#two:hover{
    background-color: paleturquoise;
    border-left-width: 20px;
    border-right-width: 20px;
    color: blue;
    font-size: 1.2em;
}

#three:hover{
    background-color: rgba(231, 144, 144, 0.74);
    border-left-width: 20px;
    border-right-width: 20px;
    color: white;
    font-size: 1.2em;
}

#four:hover{
    background-color: rgba(203, 145, 236, 0.74);
    border-left-width: 20px;
    border-right-width: 20px;
    color: green;
    font-size: 1.2em;
}